<!DOCTYPE html>
<html>
<head>
	<title>Backbone Blogroll App</title>
	<link rel= "stylesheet" type = "text/css" href="/styles/main.sass.css">
</head>
<body>
	<div id = "container">
		<form id = "blog-up">
			<input id="author" type = "text">
			<input id = "title" type = "text">
			<input id = "url" type = "text">
			<button id = "create"></button>
		</form>
<ul id = "posts"></ul>
<script type="text/javascript" src="/node_modules/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/node_modules/backbone/node_modules/underscore/underscore-min.js"></script>
<script type="text/javascript" src="/node_modules/backbone/backbone-min.js"></script>
<script type="text/javascript" src="/scripts/main.js"></script>
<script type = "text/template" id = "blog-row">
	<li><%= author %> - <%= title %> - <%= url %><button>edit</button></li>
</script>
</body>
</html>